
html, body{
  height: 100%;
}

.clearfix {
            overflow: auto;
        }

#homeContent{
    
    padding-top: 35px;
    font-size: 13px;
}

#paragraph{
    
    font-size: :13px;
    padding-left: 15px;
    padding-top: 15px;
}


.landing {

    margin-top: 50px; 
  } 

#ntt-logo{
    float: left;
}

#websiteTitle{
    
}

#websiteSlogan{
   
}


body {

  padding-top: 100px;
  flex-direction: column;
  display: flex;
   

}
.fixed_header{
    width: 100%;
    table-layout: relative;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 400px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}
.content {
  flex: 1 0 auto;
}
h3, h4 {
  font-weight: lighter;
}

.data_explanation{

padding: 30px 30px 30px 30px;

}
#explanation {
  margin-top: 20px;
  padding: 10px;
}


/* Carousel Styling */
.slide1{
  background-image: url('WW_Wind.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('WW_Wind.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('WW_Wind.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-control-next-icon{
    background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}
/*
.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}
*/

/* Footer Styling */
.footer {
   
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 60px;
    bottom: 0;
    color:#fff;
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #e3e4e5, #cccfd1);  
    background: linear-gradient(to right, #e3e4e5, #cccfd1); 
    text-align:center;
}

 
